#countdown_dashboard{
  height: 30px;
}

.dash {
  float: left;
  margin-left: 10px;
}

.dash .digit {
  float: left;
}

.dash_title {
  margin-left: 3px;
}

.tabs {
  text-align: center;
  width: 420px;
  margin-left: auto;
  margin-right: auto
}

.tabs .tab-title {
  width: 140px;
}
